@charset "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}

.front_logo {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
}

#container {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #fff;
}

.page-front {
	position: absolute;
	left: 50%;
	top: 45%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2;
}

.page-back {
	position: absolute;
	left: 51%;
	top: 46%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.title {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 50px;
	margin: 0px;
}
.title_stat {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 50px;
	
}

.orangee {
	color: orange;
	font-size: 65px;
	/* text-shadow: 3px 3px 3px gray; */
}

.errors {
	color: red;
	text-align: center;
}

.orange_bg {
	height: 50%;
	width: 100%;
	background-color: orange;
	position: absolute;
	box-shadow: 25px 25px 25px 25px gray;
	top:50%;
	z-index: 2;
}

.stat_logo {
	position: relative;
	left: -50%;
	z-index: 4;
}

.stat_container {
	z-index: 3;
	position: relative;
	background-color: white;
	width: 400px;
	height: 400px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	left: -50%;
	margin-top:-190px;
	
}

.center1 {
	position: absolute;
	left: 50%;
	margin-top: -100px;
}

.center2 {
	position: absolute;
	left: 50%;
	top: 50%;
}

.stats {
	text-align: center;
	padding-top: 100px;
	font-family: 'Architects Daughter', cursive;
	font-size: 40px;
}

.sDetails {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
}

.play_btn {
	height: 60px;
	width: 400px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	position: absolute;
	top: 100%;
	margin-top: -60px;
	border: none;
}

#stat_panel {
	position: absolute;
	left: 80%;
	top: 50%;
}
